{% extends "idb/template.html" %}



<!-- {% load watson %} -->

{% block content %}



<div class ="row"> Search results{% if query %} for &ldquo;{{query}}&rdquo;{% endif %}</div>
{% if list %}
<div class="row">
    {% for result in list%}
    {% if result|truncatewords:"1"|slice:"-4" == "SuperBowl" %}
    <div class ="row">
        <ul>
            <li>
                <div class="col-md-4">
                    <b><a href="/superbowls/{{result.object.id}}">
                        {{ result|truncatewords:"1"|slice:"-4"}} {{result.object.game_number}} </a></b>
                    </div>
                    <div class="col-md-4">
                        {{result.object.winning_franchise.team_city}} {{result.object.winning_franchise.team_name}} 
                        vs. 
                        {{result.object.losing_franchise.team_city}} {{result.object.losing_franchise.team_name}}
                    </div>
                    <div class="col-md-4">
                        MVP: {{result.object.mvp.first_name}} {{result.object.mvp.last_name}}
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}

        {% if result|truncatewords:"1"|slice:"-4" == "Franchise" %}
        <div class="row">
            <ul>
                <li>
                    <div class="col-md-4">
                        <b><a href="/franchises/{{result.object.id}}">{{result.object.team_city}} {{result.object.team_name}}</a></b>
                    </div>
                    <div class="col-md-4">
                        Founded in: {{result.object.year_founded}}
                    </div>
                    <div class="col-md-4">
                        Division: {{result.object.division}}
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}

        {% if result|truncatewords:"1"|slice:"-4" == "MVP" %}
        <div class="row">
            <ul>
                <li>
                    <div class="col-md-4">
                        <b><a href="/mvps/{{result.object.id}}">{{result.object.first_name}} {{result.object.last_name}}</a></b>
                    </div>
                    <div class="col-md-4">
                        Position: {{result.object.position}}
                    </div>
                    <div class="col-md-4">

                    </div>
                </li>
            </ul>
        </div>
        {% endif %}

        {% endfor %}

    </div>
</div>

{% else %}
{% if query %}
<div class ="row"> There are no results to display.</div>
<div class ="row"> Try entering a less specific search term.</div>
{% else %}
<div class ="row"> Please enter a query in the search form.</div>
{% endif %}
{% endif %}
{% endblock content %}