{% extends "idb/template.html" %}
{% load watson %}

{% block content %}
<div class ="row"><h2> Search results </h2>{% if query %} for &ldquo;{{query}}&rdquo;{% endif %}
{% if search_results %}
<div class="row">
<ul>
    {% for result in search_results %}
    <li>
            <h1>
                {% if result|truncatewords:"1"|slice:"-4" == "SuperBowl" %}
                <a href="/superbowls/{{result.object.id}}">
                    {{ result|truncatewords:"1"|slice:"-4"}} {{result.object.game_number}}</a>
                    <br/>
                    {% endif %}
                    
                    {% if result|truncatewords:"1"|slice:"-4" == "Franchise" %}
                    <a href="/franchises/{{result.object.id}}">{{result.object.team_name}} </a>
                    <br/>
                    {% endif %}
                    
                    {% if result|truncatewords:"1"|slice:"-4" == "MVP" %}
                    <a href="/mvps/{{result.object.id}}">{{result.object.first_name}} {{result.object.last_name}} Player Page </a>
                    <br/>
                    {% endif %}
                    
                </h1>
            
        </li>
        {% endfor %}
    </ul>
    </div>

    <!-- {% search_results search_results %} -->
    {% else %}
    {% if query %}
    <div class ="row"> There are no results to display.
    Try entering a less specific search term.
    {% else %}
    Please enter a query in the search form.</div>
    {% endif %}
    {% endif %}
    </div>
    {% endblock content %}


