<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Internet Super Bowl Database</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/games/">Super Bowls</a></li>
          <li><a href="/teams/">Teams</a></li>
          <li><a href="/players/">Players</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Super Bowl XLVIII</h1>
      </div>

      <div class="faceoff">
        <image style="width:500px" src="http://content.sportslogos.net/logos/7/180/full/pfiobtreaq7j0pzvadktsc6jv.gif" />
        <h1>43-8</h1>
        <image style="width:500px" src="http://content.sportslogos.net/logos/7/161/full/9ebzja2zfeigaziee8y605aqp.gif" />
      </div>  

      <iframe width="560" height="315" src="//www.youtube.com/embed/Y4SsQlovV_A" frameborder="0" allowfullscreen></iframe>

      <a class="twitter-timeline" href="https://twitter.com/Seahawks" data-widget-id="446087270404075520">Tweets by @Seahawks</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


 


    </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>