<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Internet Super Bowl Database</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/games/">Super Bowls</a></li>
          <li><a href="/teams/">Teams</a></li>
          <li><a href="/players/">Players</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>


      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Eli Manning</h1>
      </div>

      <div class="facebook-container">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FEliManning&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>

      </div>

      <div class="faceoff">
        <div class="mvp">
          <a href="/players/0/"><image style=" padding:0px 0px 0px 0px; border: solid black 1px; border-width: 15px; border-radius: 15px; width:350px" src="http://2.bp.blogspot.com/-PI1ewQkhFSk/TzAOh-5hmlI/AAAAAAAADfw/0RCHJZ-XEfY/s1600/super-bowl-xlvi-20120205-192052-392.jpg" /></a>
        
        </div> <!-- /mvp -->
        
        <br><br>
        <h3>Date of Birth: January 3, 1981<br>
        Home Town:  New Orleans, Louisiana<br>
        College: Mississippi<br>
        High School: New Orleans (LA) Newman<br>
        Current Position: Quarterback, No. 
        10,<a href="/teams/2">New York Giants</a><br>
        MVP:<a href="/games/7">Super Bowl XLVI</a></h3>
      </div> <!-- /faceoff -->

      <div class="twitter-container">
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23elimanning" data-widget-id="446346705760288768">Tweets about "#elimanning"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div> <!-- /twitter-containter -->

      <div class="youtube-container">
        <iframe width="800" height="600" src="//www.youtube.com/embed/zzVOvnozW38?rel=0" frameborder="0" allowfullscreen></iframe>

      </div> <!-- /youtube-container --> 

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>