<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/script.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../static/res/favicon.png">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">

		<div class="masthead">
			<h3 class="text-muted">Internet Super Bowl Database</h3>
			<ul class="nav nav-justified">
			  <li><a href="/">Home</a></li>
			  <li><a href="/games/">Super Bowls</a></li>
			  <li><a href="/teams/">Teams</a></li>
			  <li class="active"><a href="">Players</a></li>
			  <li><a href="/sitemap/">Sitemap</a></li>
			  <li><a href="/contact/">Contact</a></li>
			</ul>
		</div>

		<!-- MVPs Table -->
		<div id="datatable" class="panel panel-default">
			<!-- Default panel contents -->
		<div class="panel-heading"><p style="font-size:25px" class="text-primary">Players</p></div>
			<table class="table">
				<tr>
					<td class="span5"><b>Name</b></td>
					<td class="span5"><b>Birthdate</b></td>
					<td class="span5"><b>Hometown</b></td>
					<td class="span5"><b>High School</b></td>
					<td class="span5"><b>College</b></td>
				</tr>
				<tr>
					<td><a href="0/">Eli Manning</a></td>
					<td>January 3, 1981</td>
					<td>New Orleans, LA</td>
					<td>New Orleans Newman</td>
					<td>University of Mississippi</td>
				</tr>
				<tr>
					<td><a href="1/">Joe Flacco</a></td>
					<td>January 16, 1985</td>
					<td>Audubon, NJ</td>
					<td>Audubon Audubon</td>
					<td>University of Delaware</td>
				</tr>
				<tr>
					<td><a href="2/">Malcom Smith</a></td>
					<td>July 5, 1989</td>
					<td>Woodland Hills, CA</td>
					<td>Woodland Hills Taft</td>
					<td>University of Souther California</td>
				</tr>
			</table>
		</div>

	</div>


	<!-- Site footer -->
	<div class="footer">
		<p>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</p>
	</div>
</body>
</html>