<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/script.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../static/res/favicon.png">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Internet Super Bowl Database</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/games/">Super Bowls</a></li>
          <li><a href="/teams/">Teams</a></li>
          <li><a href="/players/">Players</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Malcom Smith</h1>
        <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/14214.png">
      </div>

      <div class="facebook-container">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FMalcSmitty&amp;width&amp;height=400&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:410px;" allowTransparency="true"></iframe>
      </div>

      <div class="table-container">

        <div id="datatable" class="panel panel-default">
          <table class="table">
            <tr>
              <td class="span7"><b>Super Bowl Wins</b></td>
              <td class="span7"><b>MVP Awards</b></td>
              <td class="span7"><b>Birthdate</b></td>
              <td class="span7"><b>Hometown</b></td>
              <td class="span7"><b>High School</b></td>
              <td class="span7"><b>College</b></td>
              <td class="span7"><b>Salary</b></td>
            </tr>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>July ,5 1989</td>
              <td>Woodland Hills, CA</td>
              <td>Woodland Hills Taft</td>
              <td>University of Southern California</td>
              <td>$456,000</td>
            </tr>
          </table>
        </div>

        <div id="datatable" class="panel panel-default"> 
            <div class="panel-heading"><p style="font-size:25px" class="text-primary">Team History</p></div>
            <table class="table">
              <tr>
                <td><a href="/teams/0"><img style="width:300px" src="http://content.sportslogos.net/logos/7/180/full/pfiobtreaq7j0pzvadktsc6jv.gif"></a></td>
              </tr>
            </table>
        </div>

         <div id="datatable" class="panel panel-default"> 
            <div class="panel-heading"><p style="font-size:25px" class="text-primary">Super Bowl History</p></div>
            <table class="table">
              <tr>
                <td><a href="/games/9"><img style = "width: 200px" src="https://upload.wikimedia.org/wikipedia/en/5/51/Super_Bowl_XLVIII_logo.png"></a></td>
              </tr>
            </table>
          </div>
        </div>

      <div class="twitter-container">
        <a class="twitter-timeline" href="https://twitter.com/MalcSmitty" data-widget-id="446422781169651712">Tweets by @MalcSmitty</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      </div>

      <div class="youtube-container">
        <iframe width="800" height="600" src="//www.youtube.com/embed/zfB8hCsHwLE" frameborder="0" allowfullscreen></iframe>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div class="footer">
      <p>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</p>
    </div>   
  </body>
</html>