<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/script.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">

		<div class="masthead">
			<h3 class="text-muted">Internet Super Bowl Database</h3>
			<ul class="nav nav-justified">
			  <li><a href="/">Home</a></li>
			  <li><a href="/games/">Super Bowls</a></li>
			  <li class="active"><a href="">Teams</a></li>
			  <li><a href="/players/">Players</a></li>
			  <li><a href="/sitemap/">Sitemap</a></li>
			  <li><a href="/contact/">Contact</a></li>
			</ul>
		</div>

		<!-- Teams Table -->
		<div id="datatable" class="panel panel-default">
			<!-- Default panel contents -->
		<div class="panel-heading"><p style="font-size:25px" class="text-primary">Teams</p></div>

			<!-- Table -->
			<table class="table">
				<tr>
					<td class="span4"><b>Name</b></td>
					<td class="span4"><b>City</b></td>
					<td class="span4"><b>Owner</b></td>
					<td class="span4"><b>Super Bowl Wins</b></td>
				</tr>

				<tr>
					<td><a href="2/">Giants</a></td>
					<td>New York, NY</td>
					<td>John Mara</td>
					<td>4</td>
				</tr>

				<tr>
					<td>Patriots</td>
					<td>New England</td>
					<td>Robert Craft</td>
					<td>3</td>
				</tr>

				<tr>
					<td><a href="1/">Ravens</a></td>
					<td>Baltimore, MD</td>
					<td>Steve Bisciotti</td>
					<td>2</td>
				</tr>

				<tr>
					<td>49ers</td>
					<td>San Fransico, CA</td>
					<td>Jed York</td>
					<td>5</td>
				</tr>
				<tr>
					<td><a href="0/">Seahawks</a></td>
					<td>Seattle, WA</td>
					<td>Paul Allen</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Broncos</td>
					<td>Denver, CO</td>
					<td>Pat Bowlen</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Eagles</td>
					<td>Philadelphia, PA</td>
					<td>Jeffrey Lurie</td>
					<td>0</td>
				</tr>

			</table>
		</div>

	</div>


	<!-- Site footer -->
	<div class="footer">
		<p>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</p>
	</div>
</body>
</html>