{% extends "idb/template.html" %}

{% block content %}

<script type="text/javascript">
	
	function runsql(id) {
		var url = document.location.origin + '/api/v2/analytics/' + id + '/results';
		var resultArea = $('#analytic-result-' + id);
		$.ajax(url, {
			dataType: 'json',
			success: function(data, textStatus, jqXHR) {
				resultArea.text(JSON.stringify(data));
			},
			error: function(jqXHR, textStatus, errorThrown) {
				resultArea.text(jqXHR.status + ' :::: ' + jqXHR.responseText + ' :::: ' + textStatus + ' :::: ' + errorThrown);
			}
		});
	}

</script>

{% for analytic in analytic_list %}
	<div class="row">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>{{analytic.name}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>{{analytic.description}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<button type="button" class="btn btn-primary" onclick="runsql({{analytic.id}})">RUN</button>
			</div>
			<div class="col-xs-11">
				<pre>{{analytic.query}}</pre>
			</div>
		</div>
		<div class="row" id="analytic-result-{{analytic.id}}">
		</div>
	</div>
    </div>
{% endfor %}

{% endblock %}