{% extends "idb/template.html" %}

{% block content %}

<script type="text/javascript">

    // This helper function creates a link that when clicked triggers the api navigation
    function createApiUrlTag(url) {
        var tag = $('<a>');
        tag.html('<code>'+url+'</code>');
        tag.click(function() {
            goToApiUrl(url);
        });
        return tag;
    }
    
    // This is a helper function to extract the urls from api 'ref' objects
    function getApiUrls(dataList) {
        return _.map(dataList, function (dataObject) {
            if (_.isObject(dataObject)) {
                return dataObject.self;
            }
        });
    }
    
    // This is a helper function to determine how to render different type of data.
    function fillValue(domCell, dataValue) {
        if (_.isString(dataValue) || _.isNumber(dataValue) || _.isBoolean(dataValue)) {
            // these are the easy cases, just display it as text
            domCell.text(dataValue);
            
        } else {
            if (!_.isArray(dataValue) && _.isObject(dataValue)) {
                // it is an object, so put it in a list for easy processing
                dataValue = [ dataValue ];
            }
            if (_.isArray(dataValue)) {
                // get the list of urls
                var urls = getApiUrls(dataValue);
                
                // if it's empty, we want to indicate that some how
                if (_.isEmpty(urls)) {
                    domCell.text("(empty list)");
                    return;
                }
                
                // create <a> tags for thems
                var tags = _.map(urls, createApiUrlTag);
                
                // we need to separate the <a> tags with <br/> tags inbetween
                var needsBrTag = false;
                _.each(tags, function (tag) {
                    
                    if (needsBrTag) {
                        domCell.append($('<br>'));
                    }
                    domCell.append(tag);
                    needsBrTag = true;
                    
                });
            } else {
                domCell.text("(no data)");
            }
        }
    }
    
    function fillTable(domTable, dataObject, title) {
        var tr;
        var td;
        
        var thead = $('<thead>');
        
        // create the table title
        if (title) {
            tr = $('<tr>');
                td = $('<th>');
                td.attr('colspan', 2);
                td.text(title);
            tr.append(td);
            thead.append(tr);
        }
        
        // create the table headers
        tr = $('<tr>');
        tr.html('<th>Property</th><th>Value</th>');
        thead.append(tr);
        
        domTable.append(thead);
        
        var tbody = $('<tbody>');
        
        // to make this function reusable, check for this special case
        if (dataObject.self) {
            // we want to list the 'self' property before the others,
            // therefore, we handle them separately
            var self = dataObject.self;
            delete dataObject.self;
            
            // create the 'self' property
            tr = $('<tr>');
                td = $('<td>self</td>');
                tr.append(td);
                
                td = $('<td>');
                    td.append(createApiUrlTag(self))
                tr.append(td);
            tbody.append(tr);
            
            // Check that we have a collection entry. For example: The api root
            // (/api/v2) does not have 'collection', but it does have 'self'.
            if (dataObject.collection) {
                var collection = dataObject.collection;
                delete dataObject.collection;
                
                // create the 'collection' property
                tr = $('<tr>');
                    td = $('<td>collection</td>');
                    tr.append(td);
                    
                    td = $('<td>');
                        td.append(createApiUrlTag(collection))
                    tr.append(td);
                tbody.append(tr);
            }
        }
        
        // create the other properties
        _.each(dataObject, function(value, key) {
            tr = $('<tr>');
                td = $('<td>');
                    td.text(key);
                tr.append(td);
                
                td = $('<td>');
                    fillValue(td, value);
                tr.append(td);
            tbody.append(tr);
        });
        
        domTable.append(tbody);
    }
    
    function displayEntity(domParent, dataObject) {
        var table = $('<table>');
        table.addClass('table');
        fillTable(table, dataObject, dataObject.self);
        domParent.append(table);
    }
    
    function displayCollection(domParent, dataList) {
        // if the data is not a list (therefore, a singular entity),
        // we just display it
        if (!_.isArray(dataList)) {
            displayEntity(domParent, dataList);
            return;
        }
        
        // otherwise, we build a container element and display them all
        var container = $('<div>');
        container.addClass('container-fluid');
        _.each(dataList, function (dataObject) {
            var row = $('<div>');
            row.addClass('row');
            displayEntity(row, dataObject);
            container.append(row);
        });
        domParent.append(container);
    }
    
    function displayError(domParent, url, httpStatusCode, apiErrorType, apiErrorMessage) {
        var table = $('<table>');
        table.addClass('table');
        var dataObject = {
            "API URL": url,
            "HTTP Status Code": httpStatusCode,
            "API Error Type": apiErrorType,
            "API Error Message": apiErrorMessage
        }
        fillTable(table, dataObject, "An Error Has Occured!");
        domParent.append(table);
    }
    
    function goToApiUrl(url) {
        url = document.location.origin + url;
        
        // update the url area
        $('#url-area').text("GET " + url);
        $('#url-area').parent().parent().show();
        
        // get the area and clear it for the next set of results
        var domParent = $('#results-area');
        domParent.empty();
        
        // make the request
        $.ajax(url, {
            dataType: 'json',
            success: function(response, textStatus, jqXHR) {
                displayCollection(domParent, response.data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                displayError(domParent, url, jqXHR.status, jqXHR.responseJSON.error.type, jqXHR.responseJSON.error.message);
            }
        });
    }
    
</script>

    <div class="row container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>API Navigation Demo</h3>
                <p>
                    SBIDB is provides a RESTful interface for accessing its data, but it also supports some
                    <a href="http://en.wikipedia.org/wiki/HATEOAS">HATEOAS</a>-like functionality that really enriches
                    the API (we think so). Most resources provide a link rescriptor that can be used to further navigate
                    to that resource or the collection of that resource. (For details please see the API documentation
                    <a href="http://docs.idb.apiary.io/">here</a>.)
                    Using the magic of <a href="http://en.wikipedia.org/wiki/Ajax_(programming)">AJAX</a> we are able to
                    create a small demo of how our API can be navigated. It all starts at the
                    <a href="#" onclick="goToApiUrl('/api/v2')">root</a> and from there you can follow the links to
                    the deeper parts of the API.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Go to the root of the API:
                    <a href="#" onclick="goToApiUrl('/api/v2')"><code>/api/v2</code></a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 style="display:none"><code><span disabled="true" id="url-area" /></code></h4>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-xs-12" id="results-area" />
        </div>
    </div>

{% endblock %}
