{% extends "idb/template.html" %}
{% block content %}

					<!-- Contact Table -->
			<div id="datatable" class="panel panel-default">
				<!-- Default panel contents -->
			<div class="panel-heading"><p style="font-size:25px" class="text-primary">Group Members</p></div>

				<!-- Table -->
				<table class="table">
					<thead>
						<td ><b>Name</b></td>
						<td ><b>email</b></td>
						<td ><b>github</b></td>
					</thead>
					<tr>
						<td>John Schindler</td>
						<td>john.schindler@utexas.edu</td>
						<td><a href="https://github.com/Schins02">Schins02</a></td>
		
					</tr>
					<tr>
						<td>Richard Salazar</td>
						<td>RichardSalazar@live.com</td>
						<td><a href="https://github.com/RichardSalazar">RichardSalazar</a></td>

					</tr>
					<tr>
						<td>Sam Tipton</td>
						<td>sam.tipton@gmail.com</td>
						<td><a href="http://www.github.com/samtipton">samtipton</a></td>

					</tr>
					<tr>
						<td>Sophie Hernandez</td>
						<td>soph1her@cs.utexas.edu</td>
						<td><a href="http://github.com/sophieher">sophieher</a></td>

					</tr>
					<tr>
						<td>Trent Kan</td>
						<td>trentkan@gmail.com</td>
						<td><a href="http://www.github.com/trentkan">trentkan</a></td>

					</tr>
					<tr>
						<td>Yoan Chinique</td>
						<td>ychinique@gmail.com</td>
						<td><a href="http://www.github.com/yoday">yoday</a></td>

					</tr>
				</table>
			</div>
{% endblock content %}

