{% extends "idb/template.html" %}

{% block content %}

<div class="row">
{% for team in team_list %}
	{% if forloop.counter0|divisibleby:2 %}
		<div class="row">
	{% endif %}
	<div id="image" class="col-md-3">
		<a href="/franchises/{{team.id}}"><img style="width:200px" src="../../static/res/Logos/{{team.team_name}}.png" /></a>
	</div>
	<div class="col-md-3">
          <ul>
          	<li><a href="/franchises/{{team.id}}"><h3>{{team.team_city}} {{team.team_name}}</h3></a></li>
          	<li><h4>Division: {{team.division}}</h4></li>
          	<li><h4>est:{{team.year_founded}}</h4></li>
          </ul>
    </div>
    {% if not forloop.counter0|divisibleby:2 %}
		</div>
	{% endif %}
{% endfor %}
{% endblock %}