<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/script.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../static/res/favicon.png">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="">Home</a></li>
          <li><a href="games/">Super Bowls</a></li>
          <li><a href="teams/">Teams</a></li>
          <li><a href="players/">Players</a></li>
          <li><a href="sitemap/">Sitemap</a></li>
          <li><a href="contact/">Contact</a></li>
        </ul>
      </div>

      <div class="content-mat">
        <!-- Jumbotron -->
        <div class="jumbotron">
          <h1>Internet Super Bowl Database</h1>
          <img style="width:600px" src="../../static/res/NFL1.png">
          <p style="color:white;" class="lead"><b>Created by Inglorious Bashers<br/>Yoan Chinique Sophie Hernandez Trent Kan Richard Salazar John Schindler Sam Tipton</b></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Super Bowls</h2>
            <p>Peruse our extensive database of Super Bowls reaching back to 2012</p>
            <p><a class="btn btn-primary" href="games/" role="button">Super Bowls &raquo;</a></p>
          
          </div>
          <div class="col-lg-4">
            <h2>Teams</h2>
            <p>Get the low-down about your favorite NFL franchise and their history</p>
            <p><a class="btn btn-primary" href="teams/" role="button">Teams &raquo;</a></p>
         </div>
          <div class="col-lg-4">
            <h2>Players</h2>
            <p>Who was the MVP in Superbowl X-UA-CompatibleVIII? We have a page for him!</p>
            <p><a class="btn btn-primary" href="players/" role="button">Players &raquo;</a></p>
          </div>
        </div>
       </div>
        <!-- Site footer -->
        <div class="footer">
          <p><b>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</b></p>      
        </div>
        
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>