<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superbowl Database</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap-3.1.1/css/justified-nav.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/script.js"></script>

    <link rel="shortcut icon" href="../../static/res/favicon.png">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/games/">Super Bowls</a></li>
          <li><a href="/teams/">Teams</a></li>
          <li><a href="/players/">Players</a></li>
          <li><a href="contact/">Contact</a></li>
        </ul>
      </div>


      <br/>

      <div class="row">
        <div style="padding:0px"class="col-md-3">
          <img src="http://placehold.it/282x200">
        </div>
        <div style="padding:0px" class="col-md-6">
          <img src="http://placehold.it/550x200">
        </div>
        <div style="padding:0px" class="col-md-3">
          <img src="http://placehold.it/282x200">
        </div>
      </div>
      
      <br/>
      <br/>

      <!-- history tables --> 
      <div class="row">
        <h1>SuperBowl History</h1>
        <div class="row">
          <img src="http://placehold.it/100x100" />
          <img src="http://placehold.it/100x100" />
        </div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <h1>Team History</h1>
        <div class="row">
          <img src="http://placehold.it/100x100" />
        </div>
      </div>

      <br/>
      <br/>


      <!-- social media -->
      <div class="row">
        <div style="padding:0px"class="col-md-3">
          <img src="http://placehold.it/250x600">
        </div>
        <div style="padding:0px" class="col-md-6">
          <img src="http://placehold.it/550x400">
        </div>
        <div style="padding:0px" class="col-md-3">
          <img src="http://placehold.it/250x600">
        </div>
      </div>




    </div> <!-- main container -->
  </body>
</html>