{% extends "idb/template.html" %}

{% block content %}

<div class="row">
{% for mvp in mvp_list %}
	{% if forloop.counter0|divisibleby:2 %}
		<div class="row">
	{% endif %}
	<div id="image" class="col-md-3">
		<a href="/mvps/{{mvp.id}}"><img style="width:200px" src="../../static/res/MVPs/{{mvp.first_name}} {{mvp.last_name}}.png" /></a>
	</div>
	<div class="col-md-3">
          <ul>
          	<li><a href="/mvps/{{mvp.id}}"><h3>{{mvp.first_name}} {{mvp.last_name}}</h3></a></li>
          	<li><h4>Draft year: {{mvp.draft_year}}</h4></li>
          	<li><h4>College: {{mvp.college}}</h4></li>
          </ul>
    </div>
    {% if not forloop.counter0|divisibleby:2 %}
		</div>
	{% endif %}
{% endfor %}
{% endblock %}