<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Superbowl Database</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" href="../../static/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link type="text/css" href="../../static/bootstrap-3.1.1/css/justified-nav.css" rel="stylesheet">

  <!-- JQuery and JavaScript for page animations -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <!-- Bootstrap core JS -->
  <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/script.js"></script>

  <link rel="shortcut icon" href="../../static/res/favicon.png">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>

<body>
  <div class="container">
    <!-- navbar -->
    <div class="masthead">
      <ul class="nav nav-justified">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="games/">Super Bowls</a></li>
        <li><a href="teams/">Teams</a></li>
        <li><a href="players/">Players</a></li>
        <li><a href="sitemap/">Sitemap</a></li>
        <li><a href="contact/">Contact</a></li>
      </ul>
    </div>
    <br/>
    <!-- end navbar -->

    <div class="row">
      <div style="padding:0px"class="col-md-3">
        <img src="http://placehold.it/282x200">
      </div>
      <div style="padding:0px" class="col-md-6">
        <img src="http://placehold.it/550x200">
      </div>
      <div style="padding:0px" class="col-md-3">
        <img src="http://placehold.it/282x200">
      </div>
    </div>
    <br/>
    <!-- scoreboard -->
    <div class="row">
      <img src="http://placehold.it/1125x200">
    </div>

    <br/>

    <!-- MVP bar -->
    <div class="row">
      <div style="padding:0px" class="col-md-1">
        <img style="border:1px black solid" src="http://placehold.it/100x100">
      </div>
      <div style="padding:0px" class="col-md-11">
        <img src="http://placehold.it/1010x100">
      </div>
    </div>

    <br/>

    <!-- social media -->
    <div class="row">
      <div style="padding:0px" class="col-md-7">  
        <img src="http://placehold.it/675x600">
      </div>
      <div style="padding:0px" class="col-md-5">
        <img style="float: right" src="http://placehold.it/400x600">  
      </div>
    </div>

  </div> <!-- main container -->


</body>