{% extends "idb/template.html" %}

{% block content %}



    <br/>


    <div class="row">
    	<div style="padding:0px"class="col-md-3">
    		<img style="width:250px" src="../../static/res/SBIcons/{{game.game_number}}.png">
    	</div>

    	<div style="padding:0px" class="col-md-6">
    		<h1><strong style="color:black; font-family: Helvetica; font-size:1.5em">Super Bowl {{ game.game_number }}</strong></h1>
    		<div>
	    		<h4 style="color: black">Played on {{game.game_day}} at {{game.venue_name}} in {{game.venue_cty}}, {{game.venue_state}}</h4>
	    		<h4 style="color: black">The game was attended by {{game.attendance}} fans </h4>
	    		<h4 style="color: black">Halftime show: {{game.halftime_performer}}</h4>
	    	</div>
    	</div>

    	<div style="padding:0px" class="col-md-3">
    		<img src="http://placehold.it/275x250">
    	</div>
    </div>
    <br/>

    <!-- scoreboard -->
    <div class="row" id="scoreboard">
    	<div class = "container-fluid">
	    	<a href="/franchises/{{game.winning_franchise.id}}"><img src="../../static/res/Logos/{{game.winning_franchise.team_name}}.png" /></a>
	    	<h1 >{{game.winning_score}} - {{game.losing_score}}</h1>
	    	<a href="/franchises/{{game.losing_franchise.id}}"><img src="../../static/res/Logos/{{game.losing_franchise.team_name}}.png" /></a>
	    </div>
    </div>

    <br/>

    <!-- MVP bar -->
    <div class="row" id="mvpbar">
      <h3><b>MVP: </b>  {{mvp.first_name}} {{mvp.last_name}}</h3>
      <div style="padding:0px" class="col-md-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
Aliquam in felis sit amet augue.</p>
      </div>
      <div style="padding:0px" class="col-md-2">
        <a href="/mvps/{{mvp.id}}"><img src="../../static/res/MVPs/{{game.mvp.first_name}} {{game.mvp.last_name}}.png"></a>
      </div>
      <div style="padding:0px" class="col-md-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
Aliquam in felis sit amet augue.</p>
      </div>
    </div>

    <br/>

    <!-- social media -->
    <div class="row">
      <div class="flex-video widescreen">
        <div style="padding:0px" class="col-md-7">  
        <iframe width="650" height="500" src="//www.youtube.com/embed/{{game.youtube_id}}" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
      <div style="padding:0px" class="col-md-5">
        <a class="twitter-timeline" href="" data-widget-id="446419923376418818">Tweets about "#SuperBowlXLVIII"</a>
		

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSXRVKo3e9gwZ8L2zmA5EJ5VGD2y654dU&amp;sensor=false">
    </script>
    <script type="text/javascript">
    function initialize() {
     var myLatlng = new google.maps.LatLng({{game.latitude}},{{game.longitude}});
     var mapOptions = {
       center: myLatlng,
       zoom: 8
     };
     var map = new google.maps.Map(document.getElementById("map-canvas"),
       mapOptions);
     var marker = new google.maps.Marker({
       position: myLatlng,
       map: map
     });
   }
   google.maps.event.addDomListener(window, 'load', initialize);
   </script>

{% endblock %}