<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google" value="notranslate">

  <title>Superbowl Database</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" href="../../static/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link type="text/css" href="../../static/bootstrap-3.1.1/css/justified-nav.css" rel="stylesheet">

  <!-- JQuery and JavaScript for page animations -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <!-- Bootstrap core JS -->
  <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/bootstrap.min.js"></script>

  <!-- Custom scripts -->
  <script type="text/javascript" src="../../static/bootstrap-3.1.1/js/script.js"></script>

  <link rel="shortcut icon" href="../../static/res/favicon.png">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>

<body>
  <div class="container">

    <!-- navbar -->
    <div class="masthead">
      <ul class="nav nav-justified">
        <li><a href="/">Home</a></li>
        <li><a href="/superbowls">Super Bowls</a></li>
        <li><a href="/franchises/">Franchises</a></li>
        <li><a href="/mvps/">MVPs</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <br/>
    <!-- end navbar -->

      {% block content %}
      {% endblock %}

  </div> <!-- big container -->

  <!-- Site footer -->
    <div class="footer">
      <p><b>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</b></p>      
    </div>

</body>
</html>