<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SBIDB TEST</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../../static/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- JQuery and JavaScript for page animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/script.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" href="../../static/bootstrap/css/justified-nav.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../static/res/favicon.png">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="">Home</a></li>
          <li><a href="games/">Super Bowls</a></li>
          <li><a href="teams/">Teams</a></li>
          <li><a href="players/">Players</a></li>
          <li><a href="sitemap/">Sitemap</a></li>
          <li><a href="contact/">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div style="margin: 0px 1px 0px 1px" class="row">
        <div class="col-md-8"><div style="background-color:red; width:50%; height:100%">hi</div></div>
        <div class="col-md-4"><div style="background-color:blue; width:50%; height:100%">hi</div></div>
      </div>


    </div>


<!--       <div class="panel-heading">
        <div class="table">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/2010-0918-MichaelMorgan.JPG/250px-2010-0918-MichaelMorgan.JPG">
        </div>
      </div>
      <div class="panel">
        <h1>Malcom Smith</h1>
      </div> -->


      <!-- Site footer -->
      <div class="footer">
        <p><b>&copy;Trent Kan, Sam Tipton, Sophia Hernandez, Richard Salazar, John Schindler, Yoan Chinique 2014</b></p>      
      </div>
        
    </div> <!-- /container -->
  </body>
</html>
